[package]
name = "settrade_dw"
version = "0.1.2"
authors = ["Supot Chainiramitkul <bingli224@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version='0.3.5', features=['macros', 'rt', 'rt-multi-thread' ] }
reqwest = '0.10.9'
chrono = '0.4.19'
regex = '1.4.2'
lazy_static = '1.4.0'

[dev-dependencies]
rand = '0.7.3'